In [1]:
import pandas as pd
data_climate = pd.read_csv('data_fortaleza-CE.csv')
data_climate.head()

,codigo_estacao,data,hora,temp_inst,temp_max,temp_min,umid_inst,umid_max,umid_min,pto_orvalho_inst,pto_orvalho_max,pto_orvalho_min,pressao,pressao_max,pressao_min,vento_direcao,vento_vel,vento_rajada,radiacao,precipitacao
0,A305,12/05/2019,13,30.4,30.4,29.0,67,73.0,64.0,23.5,24.1,22.2,1009.7,1010.1,1009.7,2.9,140,7.6,1524.0,0.6
1,A305,12/05/2019,11,28.4,NaN,NaN,76,NaN,NaN,23.7,NaN,NaN,1009.6,NaN,NaN,2.3,152,NaN,171.6,0.0
2,A305,12/05/2019,14,30.9,31.0,29.6,58,67.0,58.0,21.7,23.4,21.7,1009.1,1009.7,1009.1,3.0,139,8.3,1643.0,0.0
3,A305,12/05/2019,12,29.0,29.7,28.3,72,76.0,68.0,23.5,24.3,22.8,1010.0,1010.0,1009.6,2.8,137,6.7,1319.0,0.0
4,A305,12/05/2019,15,32.1,32.3,30.9,55,60.0,53.0,22.1,23.4,21.2,1008.3,1009.1,1008.2,2.8,148,8.2,2150.0,0.0

In [ ]:
import seaborn as sns
sns.pairplot(data_climate)

/usr/lib/python3.7/site-packages/numpy/lib/histograms.py:829: RuntimeWarning: invalid value encountered in greater_equal
  keep = (tmp_a >= first_edge)
/usr/lib/python3.7/site-packages/numpy/lib/histograms.py:830: RuntimeWarning: invalid value encountered in less_equal
  keep &= (tmp_a <= last_edge)